@font-face {
    font-family: "Helvetica-Heavy";
    src: url("../Fonts/HelveticaNeue-Heavy.ttf");
}

@font-face {
    font-family: "Helvetica-Light";
    src: url("../Fonts/HelveticaNeue-Light.ttf");
}

h2 {
    font-family: 'Helvetica-Heavy', serif;
}

p {
    font-family: 'Helvetica-Light', serif;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
    height: 100%;
}

.home {
    background: #f6a9bd;
    max-height: 100vh;
    overflow: hidden;
    padding: 4rem 2rem;
    position: relative;
    height: 100vh;
    min-height: 700px;
}

.home img.perro {
    position: absolute;
    width: 50%;
}

.home h1 {
    color: #ffffff;
    font-size: 25px;
    margin-top: 15px;
    font-weight: 200;
}

.home h1 strong {
    font-weight: bold;
}

.home .logo {
    width: 500px;
}

.video {
    height: 950px;
}

.video video {
    width: 100%;
    max-width: 850px;
}


.video img.perro {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 47%;
    max-width: 850px;
}

.video img.patita {
    width: 32px;
    margin-left: -5px;
    margin-top: -5px;
    margin-right: 10px;
}

.about {
    background: #95c9e1;
    height: 500px;
}

.about .row {
    height: 100%;
}

.perro_corona {
    width: 650px;
    position: absolute;
    bottom: 0;
}

.paseos {
    background: #f4e0e1;
}

.paseos p {
    width: 80%;
    text-align: center;
}

footer {
    background: #86dbd4;
}

footer img {
    width: 60px;
    margin: 20px;
}

@media (max-width: 1300px) {

    .home .logo {
        width: 400px;
    }

    .home h1 {
        font-size: 22px;
    }

    .video {
        /* height: 870px; */
        height: 770px;
    }

    .perro_corona {
        width: 550px;
    }

    .paseos img.perro {
        width: 70%;
    }
}

@media(max-width:1023px) {
    p {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    .home {
        height: 480px;
        min-height: auto;
    }

    .home img.perro {
        width: 40%;
    }

    .home h1 {
        font-size: 16px;
    }

    .video {
        height: 550px;
    }

    .video img.perro {
        width: 50%;
    }

    .perro_corona {
        width: 100%;
    }

    .about {
        height: 400px;
    }

    footer img {
        width: 45px;
        margin: 10px;
    }
}

/* Max 768px */
@media(max-width:767px) {
    p {
        font-size: 15px;
    }

    .home {
        height: auto;
        min-height: auto;
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem 0;
    }

    .home h1 {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .home h1 strong {
        display: block;
    }

    .home img.perro {
        width: 100%;
        position: relative;
    }

    .about {
        height: auto;
    }

    .perro_corona {
        position: relative;
    }

    .video {
        height: auto;
    }

    .video img.perro {
        width: 100%;
        position: relative;
    }

    .paseos p {
        width: 100%;
        text-align: center;
    }

    .video img.patita {
        width: 18px;
        margin-left: -4px;
        margin-top: -5px;
        margin-right: 5px;
    }

    h2 {
        font-size: 18px;
    }

    footer img {
        width: 40px;
        margin: 10px;
    }
}